# Node dependencies
node_modules/

# Cypress output
cypress/videos/
cypress/screenshots/

# Mochawesome reports
cypress/reports/*.html
cypress/reports/*.json
cypress/reports/*.xml

#env files
cypress.env.json